@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/* Noto Font */
@font-face {
  font-family: "NotoBold";
  src: url("../fonts/Noto/NotoSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/Noto/NotoSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoMedium";
  src: url("../fonts/Noto/NotoSans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
