@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label-text {
    @apply font-medium text-slate-500;
  }
  .active {
    @apply bg-emerald-200;
  }
  .container-custom {
    @apply px-3 sm:px-6 md:px-[70px] lg:px-[80px] xl:px-[106px] mx-auto;
  }
  .search-map-category {
    @apply w-[97%] flex items-center justify-between bg-white rounded-[5px] px-2 lg:px-8 h-[30px] sm:h-[39px] lg:h-[47px] lg:rounded-[10px] text-[#676767] border border-gray-300 cursor-pointer;
  }

  .checkbox {
    @apply bg-white text-white border-2 border-primary1;

    &:checked {
      @apply bg-primary1 text-white border-2;
    }
  }
}

body {
  font-family: "PoppinsMedium", "sans-serif";
}

.box-shadow {
  box-shadow: 0px 5px 28px 0px rgba(51, 51, 51, 0.25);
}

.box-shadow2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-testimony-img {
  box-shadow: 0px 18px 34px 0px rgba(218, 154, 59, 0.2);
}

.border-radius-map {
  border-radius: 0px 20px 50px 0px;
}
