@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  ul,
  ol {
    list-style: revert;
  }
} */

@layer components {
  .label-text {
    @apply font-medium text-slate-50;
  }
  .active {
    @apply bg-emerald-200;
  }
  .container-custom {
    @apply px-3 sm:px-6 md:px-[30px] lg:px-[40px] xl:px-[106px];
  }

  /* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  } */

  /* @layer base {
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-moz-number-spin-box {
      appearance: none;
      margin: 0;
    }
  } */

  /* .checkbox {
    @apply bg-white text-white border-2 border-primary;

    &:checked {
      @apply bg-primary text-white border-2;
    }
  } */
  .navlink,
  .navlink:visited {
    @apply no-underline relative pb-[5px] bg-transparent;
  }
  .navlink::after {
    @apply content-[""] absolute w-3/5 max-w-[50px] h-0.5 bg-secondary transition-[0.2s] duration-[all] ease-[ease-out] scale-0 left-0 bottom-0;
  }
  .navlink:hover::after {
    @apply scale-100;
  }
  .navlink.active::after {
    @apply scale-100;
  }

  .categorylink,
  .categorylink:visited {
    @apply no-underline relative pb-[5px] bg-transparent;
  }
  .categorylink::after {
    @apply content-[""] absolute w-3/5 max-w-[50px] h-0.5 bg-primary transition-[0.2s] duration-[all] ease-[ease-out] scale-0 left-0 bottom-0;
  }
  .categorylink:hover::after {
    @apply scale-100;
  }
  .categorylink.active::after {
    @apply scale-100;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "NotoRegular", "sans-serif";
}

.box-shadow {
  box-shadow: 0px 5px 28px 0px rgba(51, 51, 51, 0.25);
}

.box-shadow2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-testimony-img {
  box-shadow: 0px 18px 34px 0px rgba(218, 154, 59, 0.2);
}

.border-radius-map {
  border-radius: 0px 20px 50px 0px;
}

/* Slider Range */
.custom-wrapper {
  margin: 0;
  position: relative;
}

.price-input-container {
  width: 100%;
}

.price-input .price-field {
  display: flex;
}

.price-field span {
  margin-top: 6px;
}

.price-field input {
  flex: 1;
  height: 35px;
  border-radius: 9px;
  text-align: center;
  border: 0px;
  background: #e4e4e4;
}

.price-input {
  width: 100%;
  color: #555;
}

.slider-container {
  width: 100%;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: theme("colors.primary");
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -51px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: theme("colors.primary");
  pointer-events: auto;
  -webkit-appearance: none;
  border: 3px solid white;
}
/* End Slider Range */

input[type="radio"] {
  appearance: none;
  min-width: 24px;
  height: 24px;
  display: flex;
  border: 1px solid theme("colors.primary");
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  justify-content: center;
}

input[type="radio"]:after {
  content: url("/images/tick.svg");
  color: white;
  display: none;
  font-weight: white;
}

input[type="radio"]:checked {
  background-color: theme("colors.primary");
}
input[type="radio"]:checked:after {
  display: block;
}

input[type="checkbox"] {
  appearance: none;
  min-width: 24px;
  height: 24px;
  display: flex;
  border: 1px solid theme("colors.primary");
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  justify-content: center;
}

input[type="checkbox"]:after {
  content: url("/images/tick.svg");
  color: white;
  display: none;
  font-weight: white;
}

input[type="checkbox"]:checked {
  background-color: theme("colors.primary");
}
input[type="checkbox"]:checked:after {
  display: block;
}

.tableAdmin {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  max-height: 500px;
}

.tableAdmin caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.tableAdmin tr {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.tableAdmin th,
.tableAdmin td {
  padding: 0.625em;
  text-align: center;
}

.tableAdmin th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .tableAdmin {
    border: 0;
  }

  .tableAdmin caption {
    font-size: 1.3em;
  }

  .tableAdmin thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .tableAdmin tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .tableAdmin td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .tableAdmin td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .tableAdmin td:last-child {
    border-bottom: 0;
  }
}
